
<div class="col-md-8 col-md-offset-2">
  <p>In preparation for Thanksgiving, let us take a moment to reflect on the things we are thankful for. Tag employees using the @ symbol and typing the first few characters of their first name. Right now, there are no private messages of thanks, so whatever you say can be seen by anyone.</p>
  <textarea id="thanks-message" class="mention form-control" placeholder="What are you thankful for?"></textarea>
  <button id="send-thanks-btn" class="btn btn-primary">Submit</button>
</div>
