<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="jumbotron  jumbotron-fluid">
            <h1 class="themefont larger">TL;DR</h1>
            <ol class="lead">
              <li><span style="font-weight:bold">Thankfully</span> lets you give thanks.</li>
              <li><span style="font-weight:bold">Thankfully</span> lets you receive thanks.</li>
              <li><span style="font-weight:bold">Thankfully</span> is open source.</li>
            </ol>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-8"><div class="container"></div><div class="row"></div>
                     <h4><strong><a href="#">Give Thanks</a></strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-6">
                <img src="assets/snoopy1.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-8">
                  <p>Write your message(s) of thanks in the input box at the top of the main page. If you wish to tag someone in the office, use the @ sign and start typing the first couple of words of their first name. If you see names appear, you can click one, or press enter to select the first name in the list.  Then continue typing to complete your message.</p>
                  <p>You can tag as many people as you wish, but you can only tag each person 1 time per message.</p>
                  <p><a class="btn btn-primary" href="/">Give Thanks</a>
                  </p>
                </div>
            </div>
        </div>
      </div>
      <hr>


      <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-8"><div class="container"></div><div class="row"></div>
                     <h4><strong><a href="#">Recieve Thanks</a></strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-6">
                <img src="assets/snoopy2.jpg" alt="" class="img-responsive">

                </div>
                <div class="col-md-8">
                    <p>Filter the messages of thanksgiving by your name to see what people have said about you. Below the Give Thanks section, you will find the Receive Thanks section, where you can filter by your name using the select box.</p>
                    <p>If you do not supply a name in the filter selection, all messages of thanks will appear in the order they were received.</p>
                    <p>
                      <a class="btn btn-primary" href="/">Recieve Thanks</a>
                    </p>
                </div>
            </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-8"><div class="container"></div><div class="row"></div>
                     <h4><strong><a href="#">Open Source Licensing</a></strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-6">
                <img src="assets/snoopy3.jpg" alt="" class="img-responsive">

                </div>
                <div class="col-md-8">
                    <p>You are free to use, edit, and distribute the code under the standards of the MIT license.</p>
                    <p>Originally created by TLC Logan</p>
                    <p>Happy Thanksgiving!</p>
                    <p>
                      <a class="btn btn-primary" href="https://opensource.org/licenses/MIT">MIT License</a>&nbsp;&nbsp;<a class="btn btn-primary" href="https://github.com/Bango1999/thankfully.git">View on GitHub</a>
                    </p>
                </div>
            </div>
        </div>
      </div>
      <hr>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
